:root {
  --primary-color: white;
  --font-family: Poppins, serif;
}
body {
  font-family: var(--font-family);
  background: #091544;
}
header {
  background-image: linear-gradient(
      rgba(13, 26, 83, 0.7),
      rgba(13, 26, 83, 0.7)
    ),
    url("../images/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 120px 0;
  color: var(--primary-color);
  margin: 0 auto;
}
header h3 {
  font-size: 24px;
  font-weight: 900px;
  margin-top: 30px;
  letter-spacing: 5px;
}
header h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  margin: 0;
}
header h2 {
  font-size: 48px;
  font-weight: normal;
}
header a {
  padding: 16px 32px;
  background-color: var(--primary-color);
  color: #1d1d1f;
  text-decoration: none;
  display: inline-block;
  margin-top: 32px;
}
main {
  background-color: white;
}
main h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px 0 0 0;
}
main h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  opacity: 0.5;
  margin: 0;
}
main h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
main h5 {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
main p {
  opacity: 0.5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

footer {
  background-image: linear-gradient(
      rgba(13, 26, 83, 0.9),
      rgba(13, 26, 83, 0.9)
    ),
    url("../images/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: var(--primary-color);
  margin: 0 auto;
}
footer h3 {
  margin-bottom: 0;
}
footer a {
  color: var(--primary-color);
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 36px;
}
footer p {
  opacity: 0.7;
  line-height: 28px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f8f8f8;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
  padding: 18px;
}
.img-responsive {
  display: flex;
  width: 100%;
  flex: 1 0 0;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 100px 0;
}
.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.card {
  background-color: white;
  margin: 30px 0 0 0;
  text-align: left;
}
.card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-body {
  padding: 32px;
}
.card-footer {
  padding: 30px 30px;
  text-align: center;
}
.btn {
  display: block;
  padding: 16px 32px;
  text-decoration: none;
  color: white;
  background-color: #2146dd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 32px;
  }
  section {
    padding: 35px 0;
  }
  main h3 {
    font-size: 24px;
  }
  main p {
    font-size: 14px;
  }
  footer h3 {
    font-size: 16px;
  }
  footer p {
    font-size: 12px;
  }
}
